/*body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}*/

.chat-container {
  width: 400px;
  max-width: 90%;
  height: 500px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #121212;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #020008;
  color: #EAEAEA;
  text-align: center;
  font-weight: bold;
  padding: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  position: relative;
}

.chat-box {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /*border-top: 1px solid #FFBF00;*/
  gap: 10px;
}
/*scrollbars are ugly, we don't want them*/
.chat-box::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 10px 14px;
  border-radius: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  font-size: 14px;
}

.other-message {
  align-self: flex-start;
  background-color:  #4A00E0;
  color: #EAEAEA;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user-message {
  align-self: flex-end;
  background-color:  #8E2DE2;
  color: #EAEAEA;
}

.chat-input-area {
  display: flex;
  padding: 10px;
  border-top: none;
}

.chat-input-area input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.chat-input-area button {
  margin-left: 8px;
  background-color: #FFBF00;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 14px;
}

/*Maybe change this color, unsure about it*/
.chat-input-area button:hover {
  background-color: #020008;
}

.online-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
  box-shadow: 0 0 2px #4caf50;
}

.message-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.other-row {
  justify-content: flex-start;
}

.user-row {
  justify-content: flex-end;
}

.message-content {
  display: flex;
  flex-direction: column;
  flex: 1;               /* <-- allow content to expand */
  max-width: 75%;
}


.message-name {
  font-size: 12px;
  font-weight: bold;
  color: #555;
  margin-bottom: 2px;
}